@font-face {
  font-family: "iconfont"; /* Project id 4688792 */
  src: url('iconfont.svg?t=1754884110189#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-four:before {
  content: "\e8fb";
}

.icon-ksyun:before {
  content: "\e65a";
}

.icon-rainyun:before {
  content: "\e608";
}

.icon-wangsu:before {
  content: "\e655";
}

.icon-aikefu:before {
  content: "\e727";
}

.icon-cdn:before {
  content: "\e6e4";
}

.icon-jdcloud:before {
  content: "\e653";
}

.icon-volcengine:before {
  content: "\e651";
}

.icon-upyun:before {
  content: "\e62f";
}

.icon-plesk:before {
  content: "\ecc0";
}

.icon-yizhifu:before {
  content: "\e741";
}

.icon-onepanel:before {
  content: "\e606";
}

.icon-xibushuma:before {
  content: "\e73c";
}

.icon-qnap:before {
  content: "\e607";
}

.icon-proxmox:before {
  content: "\e9cc";
}

.icon-aws:before {
  content: "\e604";
}

.icon-uniapp:before {
  content: "\e602";
}

.icon-lucky:before {
  content: "\e752";
}

.icon-ctyun:before {
  content: "\e719";
}

.icon-safeline:before {
  content: "\e748";
}

.icon-huawei:before {
  content: "\e610";
}

.icon-qiniuyun:before {
  content: "\e603";
}

.icon-aliyun:before {
  content: "\e601";
}

.icon-tencentcloud:before {
  content: "\e747";
}

.icon-dogecloud:before {
  content: "\e605";
}

.icon-bt:before {
  content: "\e600";
}

